@font-face { font-family: DarkFont; src: url('../Fonts/OptimusPrinceps.ttf') format('truetype'); }
a{ text-decoration: none; }
body { background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(17,7,0,1) 35%, rgba(24,10,0,1) 100%); margin: 0; }
#logo img { width: 100%; height: auto; }
h2 { color: #b86916; font-family: DarkFont; margin-left: 87px; margin-top: 50px;}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#logo {
    width: 100px;
    height: 100px;
    margin-left: 70px;
    margin-top: 30px;
}

#container_categories {
    width: 100%;
    overflow-y: hidden;
    white-space: nowrap;
}

.element_category {
    display: inline-block;
    
    background-color: #3d2b17;
    border-radius: 12px;

    width: 150px;
    height: 50px;
    margin-left: 15px;
}

.dummy_element_category {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-color: transparent;
}

#categories_weapons {
    background-color: yellow;
    width: 100%;
    height: 50px;
}







#startBtn {
    background-color: #b86916;
    border-radius: 12px;
    box-shadow: 0px 8px 90px -8px #864f14;

    margin-top: 100px;
    width: 180px;
    height: 48px;
}

txt {
    color: white;
    font-size: 25px;
    position: relative;
    left: 16px;
    top: 12px;
}

@media only screen and (max-width: 425px) {
    
}