@font-face { font-family: DarkFont; src: url('../Fonts/OptimusPrinceps.ttf') format('truetype'); }
a{ text-decoration: none; }
body { transition: all .2s; background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(17,7,0,1) 35%, rgba(24,10,0,1) 100%); margin: 0; font-family: DarkFont; }
#logo img { width: 100%; height: auto; }
h2 { color: #b86916; font-family: DarkFont; margin-left: 87px; margin-top: 50px;}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#logo {
    width: 100px;
    height: 100px;
    margin-left: 70px;
    margin-top: 30px;
}

#container_categories {
    width: 100%;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: -100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.element_category {
    display: inline-block;
    
    background-color: #251202;
    border-radius: 12px;

    width: 150px;
    height: 50px;
    margin-left: 15px;
    vertical-align: middle;

    user-select: none;
    cursor: pointer;
}

.dummy_element_category {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-color: transparent;
}

.c_selected
{
    background-color: #b86916;
    box-shadow: 0px 8px 90px -8px #864f14;
}

.c_name
{
    color: #4d2b0e;

    height: 100%;
    width: 100%;

    font-size: 20px;
    font-weight: 600;

    margin-top:auto;

    white-space: initial;
    text-align: center;
}

.clickableElement
{
    height: 100%;
    width: 100%;
}

#categories_weapons {
    width: 100%;
    
    overflow-y: hidden;
    white-space: nowrap;
    
    margin-top: -88px;
    padding-top: 100px;
    
    padding-bottom: 100px;
}

.element_weapon {
    display: inline-block;
    
    background-color: #251202;
    border-radius: 12px;

    width: 170px;
    height: auto;

    margin-left: 15px;
    vertical-align: top;

    user-select: none;
    cursor: pointer;
}

.dummy_element_weapon {
    display: inline-block;
    width: 50px;
    height: 200px;
    margin-left: 15px;
    background-color: transparent;
}

.image_weapon {
    height: 130px;
    width: 130px;
    margin-top: 12px;
    margin-left: 20px;

}

 .w_name {
    color: #4d2b0e;

    height: 47px;
    width: 100%;

    font-size: 23px;
    font-weight: 600;

    margin-top:auto;

    white-space: initial;
    text-align: center;
 }


















#startBtn {
    background-color: #b86916;
    border-radius: 12px;
    box-shadow: 0px 8px 90px -8px #864f14;

    margin-top: 100px;
    width: 180px;
    height: 48px;
}

txt {
    color: white;
    font-size: 25px;
    position: relative;
    left: 16px;
    top: 12px;
}

@media only screen and (max-width: 425px) {
    
}